/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Variáveis de cor */
:root {
  --cor-principal: darkblue;
  --cor-secundaria: #ddd;
  --cor-texto: #222;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;
  color: var(--cor-texto);
  background: #fff;
}

/* Navegação */
nav {
  background-color: var(--cor-principal);
  display: flex;
  gap: 1rem;
  padding: 0.5rem;
}

nav a {
  color: white;
  text-decoration: none;
  padding: 0.5rem 1rem;
}

nav a:hover {
  background-color: #003366;
  border-radius: 4px;
}

/* Títulos */
h1 {
  color: var(--cor-principal);
  margin: 1rem;
}

/* Imagem principal */
.img-perfil {
  width: 150px;
  height: auto;
  border: 1px solid var(--cor-principal);
  padding: 2px;
  box-shadow: 0 0 15px gray;
  float: right;
  margin: 1rem;
}

/* Texto */
p {
    padding: 0;
     /* margin-bottom: 1rem;*/
}

/* Aside */
aside {
  width: 20rem;
  text-align: center;
  margin: 1rem auto;
}

aside img {
  width: 150px;
  height: auto;
  margin-bottom: 1rem;
}

/* Footer */
footer {
  margin-top: 2rem;
  border-top: 1px solid #000;
  text-align: center;
  padding: 1rem;
}

/* Classes utilitárias */
.caixa {
  margin: 1rem;
  border: 1px solid rgb(0 0 0 / 10%);
  padding: 1rem;
  background-color: var(--cor-secundaria);
  color: #000;
}

.indentacao {
  padding-left: 2rem;
}
